/** * Carousel.sass * @author: Dang Van Thanh * @github: https://github.com/dangvanthanh/carousel.sass * @description: A Simple Carousel Pure CSS Using Sass * @version: 1.0.0 */
.carousel-slider > input[type="radio"]:nth-child(1):checked ~ .carousel-slider__prev > label:nth-child(5), .carousel-slider > input[type="radio"]:nth-child(1):checked ~ .carousel-slider__next > label:nth-child(2), .carousel-slider > input[type="radio"]:nth-child(2):checked ~ .carousel-slider__prev > label:nth-child(1), .carousel-slider > input[type="radio"]:nth-child(2):checked ~ .carousel-slider__next > label:nth-child(3), .carousel-slider > input[type="radio"]:nth-child(3):checked ~ .carousel-slider__prev > label:nth-child(2), .carousel-slider > input[type="radio"]:nth-child(3):checked ~ .carousel-slider__next > label:nth-child(4), .carousel-slider > input[type="radio"]:nth-child(4):checked ~ .carousel-slider__prev > label:nth-child(3), .carousel-slider > input[type="radio"]:nth-child(4):checked ~ .carousel-slider__next > label:nth-child(5), .carousel-slider > input[type="radio"]:nth-child(5):checked ~ .carousel-slider__prev > label:nth-child(4), .carousel-slider > input[type="radio"]:nth-child(5):checked ~ .carousel-slider__next > label:nth-child(1) {
    opacity: 1 !important;
    z-index: 3;
}

.carousel-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-slider > input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
}
.carousel-slider > input[type="radio"]:checked ~ .carousel-slider__items .carousel-slider__item, .carousel-slider > input[type="radio"]:checked ~ .carousel-slider__prev > label, .carousel-slider > input[type="radio"]:checked ~ .carousel-slider__next > label {
    opacity: 0;
}
.carousel-slider > input[type="radio"]:nth-child(1):checked ~ .carousel-slider__items .carousel-slider__item:nth-child(1) {
    opacity: 1;
}
.carousel-slider > input[type="radio"]:nth-child(1):checked ~ .carousel-slider__nav > label:nth-child(1) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}
.carousel-slider > input[type="radio"]:nth-child(2):checked ~ .carousel-slider__items .carousel-slider__item:nth-child(2) {
    opacity: 1;
}
.carousel-slider > input[type="radio"]:nth-child(2):checked ~ .carousel-slider__nav > label:nth-child(2) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}
.carousel-slider > input[type="radio"]:nth-child(3):checked ~ .carousel-slider__items .carousel-slider__item:nth-child(3) {
    opacity: 1;
}
.carousel-slider > input[type="radio"]:nth-child(3):checked ~ .carousel-slider__nav > label:nth-child(3) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}
.carousel-slider > input[type="radio"]:nth-child(4):checked ~ .carousel-slider__items .carousel-slider__item:nth-child(4) {
    opacity: 1;
}
.carousel-slider > input[type="radio"]:nth-child(4):checked ~ .carousel-slider__nav > label:nth-child(4) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}
.carousel-slider > input[type="radio"]:nth-child(5):checked ~ .carousel-slider__items .carousel-slider__item:nth-child(5) {
    opacity: 1;
}
.carousel-slider > input[type="radio"]:nth-child(5):checked ~ .carousel-slider__nav > label:nth-child(5) {
    background: #ccc;
    cursor: default;
    pointer-events: none;
}
.carousel-slider__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 260px;
    position: relative;
}
.carousel-slider__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(https://www.mohaji.cz/wp-content/uploads/2016/11/coffee-beans-691262-1400x285.jpg);
    background-position: center;
    background-size: cover;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.carousel-slider__item p {
    position: relative;
    z-index: 999;
} 
.carousel-slider__item img {
    top: 0;
    position: absolute;
    width: 100%;
    vertical-align: middle;
}
.carousel-slider__prev > label, .carousel-slider__next > label {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    opacity: 0;
    z-index: 2;
}
.carousel-slider__prev > label:hover, .carousel-slider__next > label:hover, .carousel-slider__prev > label:focus, .carousel-slider__next > label:focus {
    opacity: 0.5 !important;
}
.carousel-slider__prev > label:before, .carousel-slider__next > label:before, .carousel-slider__prev > label:after, .carousel-slider__next > label:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
}
.carousel-slider__prev > label:before, .carousel-slider__next > label:before {
    background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
    width: 60%;
    height: 60%;
    top: 20%;
}
.carousel-slider__prev > label {
    left: 2%;
}
.carousel-slider__prev > label:before {
    left: 35%;
    top: 20%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.carousel-slider__next > label {
    right: 2%;
}
.carousel-slider__next > label:before {
    left: 10%;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}
.carousel-slider__nav {
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.carousel-slider__nav > label {
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.125%;
    width: 20px;
    height: 20px;
}


.carousel-slider__text {
  margin: 0 auto;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-slider__text i {
    color: #fff;
    font-size: 1.25em;
    display: block;
}

.carousel-slider__text b {
    color: #fff;
    display: block;
    margin-top: 15px;
    font-size: 1.25em;
}

.star-rating {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 7.5px;
}

.star-rating i {
    margin: 5px;
    font-size: 16px;
}

/* splide.js slider */
.splide__track {
    padding: 30px 0;
    text-align: center;
}

.splide__progress__bar {
    background: #3d3d3d !important;
    height: 2px !important;
}

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social sites icons */
.social-sites-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.social-sites-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    text-align: left;
    border-radius: 35px;
    margin: 0px 12px;
    transition: 0.7s;
}
.social-sites-icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.social-sites-icon:nth-child(3) i {
    color: #111;
}
.social-sites-icon:nth-child(3):hover {
    background-color: #111;
}
.social-sites-icon:nth-child(2) i {
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-sites-icon:nth-child(2):hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social-sites-icon:nth-child(2):hover i {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
}
.social-sites-icon i {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: #3b5998;
    transition: 0.7s;
}
.social-sites-icon:hover {
    transition: 0.7s;
    background-color: #3b5998;
    -webkit-animation: shadow-pop-tr 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: shadow-pop-tr 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.social-sites-icon:hover i {
    color: #fff;
    transition: 0.7s;
}
@keyframes shadow-pop-tr {
    0% {
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.175), 0 15px 12px rgba(0, 0, 0, 0.1);
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
   }
    100% {
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.175), 0 15px 12px rgba(0, 0, 0, 0.1);
        -webkit-transform: translateX(-2px) translateY(2px);
        transform: translateX(-2px) translateY(2px);
   }
}


/* responsive */
@media (max-width: 480px) {
    body {
        width: 100vw !important;
        overflow-x: hidden !important;
    }
    .navigation-buttons {
        background-color: #2B2A27 !important;
        position: relative !important;
        justify-content: center !important;
        border-top: 1px solid #45433f !important;
    }
    .navigation-buttons a[data-target="navigation"], .navigation-buttons a[data-target="login"] {
    color: #fff !important;
    background-color: transparent !important;
    }
    .banner-title {
        text-align: center !important;
        padding: 0 10px
    }
    .banner-title p {
        width: 70% !important;
    }
    .navigation-buttons>a {
    border: none !important;
    }
    .carousel-inner {
        height: 75vh !important;
    }
    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        height: 100% !important;
        width: auto !important;
        max-width: none !important;
    }
    .extended-banner-link { text-align: center !important; }
    .slider-text-center {
    top: 50% !important;
    font-size: 1.5em !important;
    }
    .why-us-banner-inner {
        flex-direction: column !important;
    }
    .why-us-banner-inner-col {
        width: 100% !important;
    }
    .kontakt-bar-inner {
    flex-direction: column !important;
    align-items: flex-start !important;
    }
    .kontakt-bar-inner span:nth-child(3) {
    margin-left: 0 !important; 
    display: block !important;
    }
    .kontakt-bar-social {
    margin-top: 7.5px !important;
    }
    .footer-navigation { flex-direction: column; }
    .carousel-slider__text, .akce-banner {
        padding: 0 12px !important;
    }
    .carousel-slider__prev, .carousel-slider__next {
        display: none !important;
    }
    .carousel-slider__text i, .carousel-slider__text b {
        font-size: 1.05em !important;
    }
}
